/*downloadBox.css*/

:root {
	--downloadBox-height: 50px;
	--downloadBox-width: 300px;
	--downloadBox-border: 2px;
	--downloadBox-color: rgba(252, 242, 216, 1);
	--downloadBox-top: 100px;
	--downloadBox-left: 815px;
}

#downloadBox {
	position: absolute;

	/**/
	top: var(--downloadBox-top);
	left: var(--downloadBox-left);
}

#downloadBox-fore {
	position: absolute;
	border-radius: 8px;
	height: var(--downloadBox-height);
	width: var(--downloadBox-width);
	background-color: var(--downloadBox-color);
	margin-left: var(--downloadBox-border);
	margin-top: var(--downloadBox-border);
	z-index: 50;
	padding-left: 10px;
	padding-right: 10px;
}

#download-link-block {
	width: 85%;
	height: 100%;
	display: inline-block;
}

#download-link {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#copy-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 13%;
	float: right;
	/*background-color: red;*/
}

#copy-icon {
	height: 25px;
	width: 25px;
	cursor: pointer;
	display: inline-block;
}

#copy-icon:hover {
	transform: scale(1.5);
}

#downloadBox-back {
	position: absolute;
	border-radius: 10px;
	height: calc(var(--downloadBox-height) + var(--downloadBox-border) * 2);
	width: calc(var(--downloadBox-width) + var(--downloadBox-border) * 2);
	background-color: grey;
	box-shadow: 5px 7px rgba(0, 0, 0, 0.5);
}

#downloadBox-corner {
	position: absolute;
	left: calc(var(--downloadBox-width) * 0.6);
	top: -5px;
	border: solid 2px grey;
	height: 50px;
	width: 30px;
	transform: rotate(45deg);
	z-index: 25;
	background-color: var(--downloadBox-color);
}




