@font-face {
	font-family: techFont;
	src: url('../static/fonts/Gtek Technology free promo.ttf');
}

html {
	width: 100%;
	/*overflow: auto;*/
	overscroll-behavior: none;
}

body{
	font-family: Roboto, Helvetica, Arial, sans-serif;
	/*font-size: 1rem;*/
	/*font-weight:400;
	line-height:1.2;*/
	color: #454545;
	/*text-align:left;*/
	background-color: #FFFFFF;
}

.utility-title {
	text-align: center;
	width: 100%;
	vertical-align: middle;
	margin-top: -3%;
	margin-bottom: -1%;
}

.utility-name {
	font-size: 30pt;
	color: rgb(20, 100, 200);
	font-family: techFont;
	text-align: center;
	height: 0%;
	display: inline-block;
}

#nanshan-icon {
	display: inline-block;
}

.nanshan {
	width: 40px;
	height: 27px;
	margin-bottom: 50%;
	cursor: pointer;
}

.body-block {
	width: 98%;
	margin: auto;
}

/* top-pane -- top user bar */
.toppane{
	margin-bottom: 0.5%;
	width: 100%;
	height: 7%;
	text-align: center;
	background-image: linear-gradient(rgb(69, 114, 149), rgb(110, 184, 239) 7%, rgb(79, 159, 220) 17%, rgb(78, 114, 151) 100%);
	/*background-image: linear-gradient(rgba(79, 159, 220, 1), rgba(48, 128, 191, 1));*/
}

.user-form {
	width: 90%;
	height: 100%;
	padding-top: 0.75%;
	text-align: center;
	display: inline-block;
}

.jump-icons {
	float: right;
	width: 120px;
	height: 100%;
}

.toppane-icon {
	width: 5%;
	height: 100%;
	margin-right: 25px;
	margin-top: 10px;
	display: inline-block;
}

.image-container {
	margin-left: 1.5%;
	text-align: center;
}

.form-element {
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	vertical-align: middle;
}

.inputbox {
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.cursor-pointer {
	cursor: pointer;
}

.goto {
	transition: transform .2s; /* Animation */
	width: 25px;
	height: 25px;
	margin: 0 auto;
}

.goto:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.toppane-icon-image {
	transition: transform .2s; /* Animation */
	width: 25px;
	height: 25px;
	margin: auto;
	cursor: pointer;
}

.toppane-icon-image:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.inputbox:focus, .notes:focus, .no-outline:focus {
	outline: none;
}

#download-icon {
	width: 4.5%;
	height: 100%;
	padding-top: 0.75%;
	float: right;
	display: inline-block;
}

.d-image-container {
	margin-left: 0%;
	position: absolute;
	width: 50%;
	text-align: center;
}


.download {
	transition: .5s ease; /* Animation */
	width: 43%;
	height: auto;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	backface-visibility: hidden;
	opacity: 1;
}

.download:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





/* middle-pane: portfolio information + portfolio news + top news */
.leftpane{
	width: 29%;
	margin-right: 0.5%;
}

.middlepane{
	width: 19%;
	margin-right: 0.5%;
}

.rightpane{
	width: 51%;
}

.pane-title{
	font-weight: 900;
	padding: 0;
	margin: 0;
}

.portfolio-panel{
	height: 94.5%;
	overflow: auto;
	position: relative;
	border: 0;
	margin: 1px;
}

.portfolio-panel::-webkit-scrollbar{
	display: none;
}

.pane-block {
	border-radius: 5px;
	padding: 6px;
	height: 64%;
	float: left;
	color: white;
	border-collapse: collapse;
	margin-bottom: 0.5%;
}

.stock-box {
	font-size: 10pt;
	text-align: justify;
	color: white;
	text-decoration: none;
	margin: 1px;
	padding: 9px;
}

.pf-news-clickbox {
	text-decoration: none;
}

.pf-news-title {
	font-size: 10pt;
	text-align: justify;
	text-decoration: none;
	margin: 1px;
	padding: 9px;
	cursor: pointer;
}

.pf-news-info {
	font-size: 8pt;
	text-align: justify;
}

.top-news-column {
	width: 33%;
	height: 94.5%;
	overflow: auto;
	position: relative;
	float: left;
	border: 0;
	margin: 1px;
}

.top-news-category {
	font-weight: 400;
}

.news_panel{
	height: 94.5%;
	overflow: auto;
	position: relative;
	float: left;
	border: 0;
	margin: 1px;
}

.news_panel::-webkit-scrollbar{
	display: none;
}

.top-news-clickbox {
	text-decoration: none;
}

.top-news-title {
	font-size: 10pt;
	text-align: justify;
	text-decoration: none;
	margin: 1px;
	padding: 9px;
	cursor: pointer;
}

/*top news: info and pencil*/
.top-news-infobox {
	padding: .5%;
	overflow: auto;
}

.top-news-info {
	font-size: 8pt;
	text-align: justify;
	float: left;
	margin-left: 5px;
	width: 85%;
}

.top-new-pencil {
	width: 15%;
	height: 20px;
}

.top-new-pencil figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.top-new-pencil figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.pencil-image:hover {
	width: 25px;
	height: 25px;
}

.pencil-image {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

figure {
	width: 23px;
	height: 23px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

textarea.notes {
	border-radius: 5px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	padding-top: 7px;
	font: normal 10px verdana;
	line-height: 15px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	display: none;
}









/* bottom-pane */
.bottompane-tabs {
	padding-left: 2%;
	padding-right: 2%;
	height: 98%;
}

.chart-tab {
	overflow: auto;
}

.bottompane{
	border-radius: 5px;
	padding: 1px;
	width: 100%;
	height: 95%;
	float: left;
	margin-bottom: 1%;
}













.twitter-pop-text {
	font-size: 10pt;
	text-align: justify;
	text-decoration: none;
	margin: 1px;
	padding: 9px;
	cursor: pointer;
}

.twitter-pop-info {
	font-size: 8pt;
	text-align: justify;
}



/*textarea.notes: hover {
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	width: 100%;
	height: 120px;
	font: normal 10px verdana;
	line-height: 15px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	display: inline;
}*/

.general-text {
	color: white;
}



#keysubmit{
	margin-left: 1vh;
}

.container{
	width: 100%;
	height: 100%;
}





.margin-sides {
	margin-right: .15%;
	margin-left: .15%;
}

.button-text {
	font-weight: 900;
}


.general_panel{
	border-radius: 5px;
	height: 94.5%;
	overflow: auto;
	position: relative;
	border: 0;
	margin: 1px;
}

.general_panel::-webkit-scrollbar{
	display: none;
}

.tabs-bar{
	margin: 0;
	padding: 0;
	height: 40px;
}

.tabs_panel{
	width: 100%;
	height: 93%;
	/*overflow: auto;*/
	position: relative;
	float: left;
	border: 0;
	margin: 1px;
}

.bottom-tab-bar {
	border-radius: 3px;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: .5%;
	/*margin-bottom: .5%;*/
}

.twitter-window {
	margin-top: 1%;
	height: 97%;
}

.twitter-top{
	height: 100%;
	overflow: scroll;
	position: relative;
	float: left;
	border: 0;
	margin: 1px;
	color: black;
}

.hot-tws-column {
	width: 24.6%;
	height: 91%;
	/*overflow: auto;*/
	position: relative;
	float: left;
	border: 0;
	margin: .1%;
}

.category-title {
	color: black;
}

.twitter-top-text {
	font-size: 10pt;
	text-align: justify;
	text-decoration: none;
	margin: 1px;
	padding: 9px;
	cursor: pointer;
}

.twitter-top-info {
	font-size: 8pt;
	text-align: justify;
}

.twitter_panel_1{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	float: left;
	border: 0;
	margin: 1px;
	color: black;
}



#download-icon {
	width: 4.5%;
	height: 100%;
	padding-top: 0.75%;
	float: right;
	display: inline-block;
}

.d-image-container {
	right: 90px;
	position: absolute;
	width: 50%;
	text-align: center;
}


.download {
	transition: .5s ease; /* Animation */
	width: 43%;
	height: auto;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	backface-visibility: hidden;
	opacity: 1;
}

.download:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





