<div id="new-notes-block" class="hide">
	<div class="date-block">
		<div class="date-text note-date">
			<a class="cursor-pointer">New Notes</a>
		</div>
	</div>
	<div id="new-notes">
	</div>
</div>
{% for day in history['note'] %}
<div class="each-date">
	<div class="date-block">
		<div class="date-text note-date">
			<a class="cursor-pointer" onclick="dateClick('note-{{day['date']}}')">{{day['date']}}</a>
		</div>
	</div>
	{% set crude=day['crude'] %}
	<div id="note-{{day['date']}}" class="date-parent">
		{% for note in day['notes'] %}
		<div id="note-block-{{loop.index}}{{crude}}" class="history-block">
			<div class="note-block">
				<div onmouseover="showInfo(this, {{loop.index}}{{crude}})" onclick="pinInfo(this, {{loop.index}}{{crude}})" class="note-title-parent">
					<a id="pinned-{{loop.index}}{{crude}}" class="hide">false</a>
					<a class="history-title note-title">{{note['title']}}</a>
				</div>
				<div class="note-text">
					<textarea id="note-textarea-{{loop.index}}{{crude}}" class="note-textarea" onmouseover="hideMsgBlock({{loop.index}}{{crude}})" onmouseout="showMsgBlock({{loop.index}}{{crude}})" onkeypress="noteEdit(event, {{loop.index}}{{crude}}, this, {{note}})" onfocus="checkFocus(this)" onblur="checkBlur(this)">{{note['note']}}</textarea>
					<div id="note-message-{{loop.index}}{{crude}}" class="note-message-block">
						<a id="note-message-text-{{loop.index}}{{crude}}" class="note-message">
							Note edited!
						</a>
					</div>
				</div>
				<div id="buttons-block-{{loop.index}}{{crude}}" class="note-buttons">
					<div id="edit-button-{{loop.index}}{{crude}}" class="noteBtn edit-button" onclick="allowEdit({{loop.index}}{{crude}})">
						<img class="editBtn no-outline" src="/static/img/edit.png">
					</div>
					<div id="delete-button-{{loop.index}}{{crude}}" class="noteBtn delete-button" onclick="deleteNote(this, {{loop.index}}{{crude}}, {{note}})">
						<img id="delete-icon-{{loop.index}}{{crude}}" class="editBtn no-outline" src="/static/img/delete.png">
					</div>
				</div>
			</div>
			<div id="information-parent-block-{{loop.index}}{{crude}}" class="information-parent-block note-information">
				<div id="information-block-{{loop.index}}{{crude}}" class="information-block">
					<!-- travis -->
					<a class="info-block-note"> 	date : 
						{{note['date']}}
						<br>
						portfolio : {{note['pf']}}
						<br>
						{% if note['kw'] != '' %}
						keyword : {{note['kw']}}
						{% endif %}
					</a>
					<!-- travis -->
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}