<html>
	<head>
		<link rel=stylesheet type="text/css" href="../static/login_willy.css">
	</head>
	
	<body>
		<div class="login">
		    <h1>Login</h1>
		    <form action='login_willy.html' method='POST'>
		        <input type="text" id="usr" name="usr" placeholder="Username" />
		        <input type="password" id="pwd" name="pwd" placeholder="Password" />
		        <input type="submit" class="btn btn-primary btn-block btn-large" id="login" value='Let me in!' />
		    </form>
		</div>
	</body>
</html>