<html>
	<head>
		<link rel=stylesheet type="text/css" href="../static/Main.css">
		<script type="text/javascript" src="{{ url_for('static', filename='Main.js') }}"></script>
	</head>
	
	<body>
		<div class="login">
		    <h1>Login</h1>
		    <form action='Main' method='POST'>
		        <input type="text" class="full-width" id="input_usr" name="usr" placeholder="Username">
		        <input type="password" class="full-width" id="input_pwd" name="pwd" placeholder="Password">
		        <input type="password" class="full-width" id="input_retype" name="retype" placeholder="Retype password">
		        {% if inputs['msg']!='' %}
		        <p id='message' class="message">{{inputs['msg']}}</p>
		        {% endif %}
		        <div class="button-container">
			        <input type="submit" name="signin" class="button half-width left-side" id="signin" value="Sign In">
			        <input type="submit" name="signup" class="button half-width right-side" id="signup" value='Sign Up'>
			    </div>
		        <div class='utilities-bar full-width'>
		        	{% for page in inputs['utilities'] %}
		        		<div class="image-container">
	                        <image id="{{page['id']}}" class="togo-icon no-outline" src="{{page['image']}}" onclick="utilClick(this, {{inputs['utilities']}})">
	                    </div>
		        	{% endfor %}
		        </div>
		        {% for page in inputs['utilities'] %}
	                <input type="text" class="hidden" id="{{page['id']}}_input" name="{{page['id']}}_input" value="0">
		        {% endfor %}
		    </form>
		</div>
		<script>
        	fillInfo("{{inputs['username']}}", "{{inputs['password']}}", "{{inputs['retype']}}");
        	checkRetype({{inputs['show_retype']}});
        	setTogo({{inputs['utilities']|tojson}});
        </script>
	</body>
</html>