<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
        <!-- <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='main_fix.css') }}"> -->
        <!--Basic settings above-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    </head>
    
    <body> 
        <!--Input Section-->
        <div class="toppane">
            <div class="vertical-center">
            
                <form action="main.html" method="post">
                    <div class="date-box">Date <input type="date" id="datepicker" name="datepicker"class="inputbox cursor-pointer" value={{date}} onfocus="(this.type=date)">
                    </div>
                    <div class="portfolio-box">Portfolio 
                        <select id="portfolio" name="portfolio" class="inputbox cursor-pointer">
                            <option value="pph_1" {{selected['pph_1']}}>Daily 5% &#8593</option>
                            <option value="pph_2" {{selected['pph_2']}}>Daily 5% &#8595</option>
                            <option value="pph_3" {{selected['pph_3']}}>Weekly 10% &#8593</option>
                            <option value="pph_4" {{selected['pph_4']}}>Weekly 10% &#8595</option>
                            <option value="pph_5" {{selected['pph_5']}}>Monthly 20% &#8593</option>
                        </select>
                    </div>
                    <div class="keyword-box">
                        <div class="ikeyword">Keyword <input type="text" id="ikeyword" name="ikeyword" class="inputbox" value={{keyword}}></div>
                    </div>
                    <div class="image-container">
                        <input type="image" id="goto" class="goto" src="/static/img/goto_w.png">
                    </div>
                </form>
            
            </div>
        </div>
        
        <!--Portfolio Display Section-->
        <div class="leftpane">
            <p class='pane-title'>Portfolio Information</p>
            <div class="portfolio_panel" name="portfolio_panel">
                {% for stock in portfolio %}
                    <div class="stock-box">
                        {{ stock }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--General Display Section-->
        <div class="middlepane">
            <p class='pane-title'>Portfolio News</p>
            <div class="general_panel" name="general_panel">
                {% for news in portfolio_news %}
                <a class="pf-news-clickbox lazy" href={{ news['link']}} onclick="userInput({{ news }}, '0', '');" target="_blank">
                    <div class="pf-news-title lazy">
                        {{ news['title']}}
                    </div>
                </a>
                <div class="pf-news-info lazy">
                    &ensp;Date&ensp;:&ensp;{{ news['pubdate']}}<br/>&ensp;Src&ensp;:&ensp;{{ news['source']}}
                    <br/>&ensp;Comp:&ensp;<b>{{news['title_company']}}</b>
                </div>
                {% endfor %}        
            </div>
        </div>
        
        <!--News Display Section-->
        <div class="rightpane">
            <p class='pane-title'>Top News</p>
            {% for news_list in top_news %}
            <div class="top-news-column">
                <a class="top-news-category">{{ news_list['key'] }}<br></a>
                <div class="news_panel margin-sides" name="news_panel">
                    {% set i=loop.index %}
                    {% for news in news_list['list'] %}
                    <a class="top-news-clickbox" href={{news['link']}} onclick="userInput({{ news }}, '{{loop.index}}', '');" target="_blank">
                        <div class="top-news-title">
                            {{ news['title']}}
                        </div>
                    </a>
                    <div class="top-news-infobox">
                        <div class="top-news-info">&ensp;Date:&ensp;{{ news['pubdate']}}  <br/>&ensp;Src:&ensp;{{ news['source']}}</div>
                        <div class="top-news-pencil">
                            <figure class='pencil'>
                                <img class="pencil-image lazy" src="/static/img/pencil_w.png" onclick="showNote({{i}}, {{loop.index}})" />
                            </figure>
                            <textarea id="note-{{i}}{{loop.index}}" onkeypress="noteInput(event, {{news}}, {{i}}, {{loop.index}}, this)" class="notes" placeholder="Take notes"></textarea>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!--General Recommendation Display Section-->
        <div class="bottompane">
            <div class="w3-bar w3-black bottom-tab-bar">
                <button class="button-text w3-bar-item w3-button" onclick="openTab('trends')">Market Trends</button>
                <button class="button-text w3-bar-item w3-button" onclick="openTab('top')">Twitter Tops</button>
                {% for celeb in celebs %}
                    <button class="button-text w3-bar-item w3-button" onclick="openTab('celeb{{loop.index}}')">{{celeb}}</button>
                {% endfor %}
            </div>

            <div id="trends" class="bottompane-tabs tabs_panel chart-tab">
                <canvas id=myChart></canvas>
                <script>
                    drawChart({{ret|tojson}});
                </script>
            </div>

            <div id="top" class="bottompane-tabs"><div class="tabs_panel" name="tabs_panel">
                {% for tw_list in top_tws %}
                <div class="hot-tws-column">
                    <p class='category-title'><b>{{ tw_list['key'] }}</b></p>
                    <div class="twitter-top" name="twitter_panel">
                        {% for post in tw_list['list'] %}
                        <div class="twitter-top-text">
                            {{ post['Text']}}
                        </div>
                        <div class="twitter-top-info">
                         &ensp;Time &ensp;:&ensp;{{ post['Time']}}  <br/> &ensp; Name&ensp;:&ensp;{{ post['Name']}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div></div>
            
            <div class="twitter-window">
                {% for tws in hot_tws %}
                <div id="celeb{{loop.index}}" class="bottompane-tabs"><div class="tabs_panel" name="tabs_panel">
                    <div class="twitter_panel_1" name="twitter_panel">
                        {% for post in tws %}
                            <div class="twitter-pop-text">
                                {{ post['Text']}}
                            </div>
                            <div class="twitter-pop-info">
                             &ensp;Time&ensp;:&ensp;{{ post['Time']}}  <br/> &ensp; Name&ensp;:&ensp;{{ post['Name']}}
                            </div>
                        {% endfor %}
                    </div>
                </div></div>
                {% endfor %}
            </div>
            <script>
                openTab('trends');
            </script>
        </div>
    </body>
</html>