<!-- NewsAssistant-bottom-pane.html -->
<div class="bottompane block-color">
    <div class="w3-bar w3-black bottom-tab-bar">
        <button class="button-text w3-bar-item w3-button" onclick="openTab('trends')">Market Trends</button>
        <button class="button-text w3-bar-item w3-button" onclick="openTab('top')">Twitter Tops</button>
        {% for celeb in inputs['celebs'] %}
            <button class="button-text w3-bar-item w3-button" onclick="openTab('celeb{{loop.index}}')">{{celeb}}</button>
        {% endfor %}
    </div>

    <div id="trends" class="bottompane-tabs tabs_panel chart-tab">
        <canvas id="myChart"></canvas>
        <script>
            drawChart({{inputs['ret']|tojson}});
        </script>
    </div>

    <div id="top" class="bottompane-tabs"><div class="tabs_panel" name="tabs_panel">
        {% for tw_list in inputs['top_tws'] %}
        <div class="hot-tws-column">
            <p class='category-title'><b>{{ tw_list['key'] }}</b></p>
            <div class="twitter-top" name="twitter_panel">
                {% for post in tw_list['list'] %}
                <div class="twitter-top-text news-block">
                    {{ post['Text']}}
                </div>
                <div class="twitter-top-info news-info-block">
                 &ensp;Time &ensp;:&ensp;{{ post['Time']}}  <br/> &ensp; Name&ensp;:&ensp;{{ post['Name']}}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div></div>
    
    <div class="twitter-window">
        {% for tws in inputs['hot_tws'] %}
        <div id="celeb{{loop.index}}" class="bottompane-tabs"><div class="tabs_panel" name="tabs_panel">
            <div class="twitter_panel_1" name="twitter_panel">
                {% for post in tws %}
                    <div class="twitter-pop-text news-block">
                        {{ post['Text']}}
                    </div>
                    <div class="twitter-pop-info news-info-block">
                     &ensp;Time&ensp;:&ensp;{{ post['Time']}}  <br/> &ensp; Name&ensp;:&ensp;{{ post['Name']}}
                    </div>
                {% endfor %}
            </div>
        </div></div>
        {% endfor %}
    </div>
</div>