<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='w3.css') }}">
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='NewsAssistant.css') }}">
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='downloadBox.css') }}">
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='NewsAssistant-common.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='NewsAssistant.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='NewsAssistant_Download.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
        <script>
            $('#portfolio-form').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: 'portfolio-upload',
                    type: 'post',
                    data:$('#portfolio-file-selector').serialize(),
                    success:function(){
                        // Whatever you want to do after the form is successfully submitted
                    }
                });
            });
        </script>
    </head>
    
    <body> 
        {% include 'logo.html' %}
        {% include 'NewsAssistant-top-pane.html' %}
        <div class="body-block">
            <!--Portfolio Display Section-->
            {% include 'NewsAssistant-left-pane.html' %}
            <!--General Display Section-->
            {% include 'NewsAssistant-middle-pane.html' %}
            <!--News Display Section-->
            {% include 'NewsAssistant-right-pane.html' %}
            <!--General Recommendation Display Section-->
            {% include 'NewsAssistant-bottom-pane.html' %}
        </div>
        {% include 'upload-portfolio.html' %}
        {% include 'chatbox.html' %}
        {% include 'downloadBox.html' %}
        <script>
            openTab('trends');
            // lockChat();
            // callChat(get('import-icon'));
            // setTime(6, 30);
            //
            // timerNext();
            // hide(get('cheatNew'));
            // downloadLink('https://www.netflix.com/watch/80028068?trackId=14170286&tctx=1%2C0%2C1a4d9a35-7f9b-43c0-8bd1-c0f537337033-7947936%2C1025a36f-1155-4b3c-9900-fc5d91b4a0f3_162658405X3XX1598842913389%2C1025a36f-1155-4b3c-9900-fc5d91b4a0f3_ROOT%2C');
            getInfo();
        </script>
    </body>
</html>