<!-- NewsAssistant-right-pane.html -->
<div class="rightpane pane-block block-color">
    <p class='pane-title'>Top News</p>
    {% for news_list in inputs['top_news'] %}
    <div class="top-news-column">
        <a class="top-news-category">{{ news_list['key'] }}<br></a>
        <div class="news_panel margin-sides" name="news_panel">
            {% set i=loop.index %}
            {% for news in news_list['list'] %}
            <a class="top-news-clickbox" href={{news['link']}} onclick="userClick({{ news }}, '{{loop.index}}');" target="_blank">
                <div class="top-news-title news-block">
                    {{ news['title']}}
                </div>
            </a>
            <div class="top-news-infobox">
                <div class="top-news-info news-info-block">&ensp;Date:&ensp;{{ news['pubdate']}}  <br/>&ensp;Src:&ensp;{{ news['source']}}</div>
                <div class="top-news-pencil">
                    <figure class='pencil' onclick="showNote({{i}}, {{loop.index}})">
                        <img class="pencil-image lazy" src="/static/img/pencil_w.png" />
                    </figure>
                    <textarea id="note-{{i}}{{loop.index}}" onkeypress="noteInput(event, {{news}}, {{i}}, this)" onblur="updateNote(this, {{i}}, {{news}})" class="notes" placeholder="Take notes"></textarea>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>