<!-- NewsAssistant-top-pane.html -->
<div class="toppane">
    <form class="user-form" action="NewsAssistant" method="post">
        <div class="form-element">
            <label for="datepicker">Date </label>
            <input type="date" id="datepicker" name="datepicker" class="inputbox cursor-pointer" value={{inputs['date']}} onfocus="(this.type=date)">
        </div>
        <div class="form-element">
            <label for="portfolio">Portfolio </label>
            <select id="portfolio" name="portfolio" class="inputbox cursor-pointer">
                {% for option in inputs['options'] %}
                {% set val = option['value'] %}
                <option id='cheat{{val}}' value={{val}} {{inputs['selected'][val]}}>{{option['label']}}</option>
                {% endfor %}
                <!-- <option value="pph_1" {{inputs['selected']['pph_1']}}>Daily 5% &#8593</option>
                <option value="pph_2" {{inputs['selected']['pph_2']}}>Daily 5% &#8595</option>
                <option value="pph_3" {{inputs['selected']['pph_3']}}>Weekly 10% &#8593</option>
                <option value="pph_4" {{inputs['selected']['pph_4']}}>Weekly 10% &#8595</option>
                <option value="pph_5" {{inputs['selected']['pph_5']}}>Monthly 20% &#8593</option> -->
            </select>
        </div>
        <a class="toppane-icon image-container" >
            <label for="portfolio-file-selector">
                <img id="import-icon" class="toppane-icon-image no-outline" src="/static/img/import.png">
            </label>
        </a>
        <div class="form-element">
            <div class="ikeyword">Keyword <input type="text" id="ikeyword" name="ikeyword" class="inputbox" value={{inputs['keyword']}}></div>
        </div>
        <div class="image-container form-element">
            <input type="image" id="goto" class="goto no-outline" src="/static/img/goto_w.png">
        </div>
        <div class="jump-icons">
            <a id="download-icon" class="cursor-pointer toppane-icon
                image-container" onclick="downloadBox();">
                <img class="goto no-outline" src="/static/img/download.png">
            </a>
            <!-- <a id="log-icon" class="toppane-icon image-container" href="/NewsAssistant/HistoryLog" target="_blank">
                <img class="toppane-icon-image no-outline" src="/static/img/log.png">
            </a> -->
            <a id="log-icon" class="toppane-icon image-container" href="/NewsAssistant/HistoryLog" target="_self">
                <img class="toppane-icon-image no-outline" src="/static/img/log.png">
            </a>
        </div>
    </form>
    <iframe class="hide" id="iframe" name="my_iframe"></iframe>
    <form action="portfolio-upload" id="portfolio-form" method="POST" enctype="multipart/form-data" target="my_iframe">
        <input type="file" id="portfolio-file-selector" name="upload" onchange="uploadPortfolio()">
        <input id="portfolio-hidden" type="submit">
    </form>
</div>